<h1>Thank you for your purchase!</h1>

<p>Your order was process by Paypal and you should get an email soon with your transaction details.</p>

<h2>Your purchase:</h2>
<p>Transaction ID: <%= transaction %></p>
<p>Amount: <%= amount %></p>
